<p>calendar works!</p>


<div class="control-section">
    <button (click)="onClickPrev()"> &lt;</button>
    <select (change)="generateCalendar(selectedYear, selectedMonth)" [(ngModel)]="selectedMonth">
        @for (month of months; track $index) {
        <option [value]="$index">{{month}}</option>
        }
    </select>
    <select (change)="generateCalendar(selectedYear, selectedMonth)" [(ngModel)]="selectedYear">
        @for (year of getYears(); track $index) {
        <option [value]="year">{{year}}</option>
        }
    </select>
    <button (click)="onClickNext()"> &gt;</button>

    <button (click)="changeCalendarMode('Monthly')"> Monthly</button>
    <button (click)="changeCalendarMode('Weekly')"> Weekly</button>
    <button (click)="changeCalendarMode('Daily')"> Daily</button>

</div>

@switch (calendarMode) {
@case ('Monthly') {
<div>Monthly</div>
<table>
    <thead>
        <tr>
            @for (day of weekdays; track $index) {
            <th>{{ day }}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (week of calendar; track $index) {
        <tr>
            @for (day of week; track $index) {
            <td [ngClass]="{'grey-out': day?.prevMonth || day?.nextMonth}">{{ day.day }}</td>
            }
        </tr>
        }
    </tbody>
</table>
}
@case ('Weekly') {
<div>Weekly</div>
<table>
    <thead>
        <tr>
            <th>Time</th>
            @for (day of weekdays; track $index) {
            <th>{{ day }}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (hour of getHours(); track $index) {
        <tr>
            <td rowspan="4">{{hour}}</td>
            @for (day of weekdays; track $index) {
            <td></td>
            }
        </tr>

        <tr>
            @for (day of weekdays; track $index) {
            <td></td>
            }
        </tr>

        <tr>
            @for (day of weekdays; track $index) {
            <td></td>
            }
        </tr>

        <tr>
            @for (day of weekdays; track $index) {
            <td></td>
            }
        </tr>
        }
    </tbody>
</table>
}
@case ('Daily') {
<div>Daily</div>
}

}