<div class="control-section">
    <select [(ngModel)]="calendarType">
        <option [value]="'AD'">AD</option>
        <option [value]="'BS'">BS</option>
    </select>
    <button (click)="onClickPrev()"> &lt;</button>
    @if (calendarType == 'AD') {
    <select (change)="generateCalendar(); selectedDay = 1;" [(ngModel)]="selectedMonth">
        @for (month of months; track $index) {
        <option [ngValue]="$index">{{month}}</option>
        }
    </select>
    <select (change)="generateCalendar();  selectedDay = 1;" [(ngModel)]="selectedYear">
        @for (year of getYears(); track $index) {
        <option [ngValue]="year">{{year}}</option>
        }
    </select>
    }
    @else {
    <select (change)="generateNepaliCalendar(); selectedNepaliDay = 1;" [(ngModel)]="selectedNepaliMonth">
        @for (month of nepaliMonths; track $index) {
        <option [ngValue]="$index">{{month}}</option>
        }
    </select>
    <select (change)="generateNepaliCalendar(); selectedNepaliDay = 1;" [(ngModel)]="selectedNepaliYear">
        @for (year of getNepaliYears(); track $index) {
        <option [ngValue]="year">{{year}}</option>
        }
    </select>
    }

    <button (click)="onClickNext()"> &gt;</button>

    <button (click)="changeCalendarMode('Monthly')"> Monthly</button>
    <button (click)="changeCalendarMode('Weekly')"> Weekly</button>
    <button (click)="changeCalendarMode('Daily')"> Daily</button>

</div>

@if(calendarType == 'AD') {
@switch (calendarMode) {
@case ('Monthly') {
<div>Monthly</div>
<table>
    <thead>
        <tr>
            @for (day of weekdays; track $index) {
            <th>{{ day }}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (week of calendar; track $index) {
        <tr>
            @for (day of week;let i=$index; track $index) {
            <td [ngClass]="{'grey-out': !day.currentMonth, 'holiday': i==6}">{{ day.day }} <br>
                {{day.date}}</td>
            }
        </tr>
        }
    </tbody>
</table>
}
@case ('Weekly') {
<div>Weekly</div>
<table>
    <thead>
        <tr>
            <th>Time</th>
            @for (day of calendar[selectedWeekIndex]; track $index) {
            <th>{{day.day}} {{weekdays[$index]}}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (hour of getHours(); track $index) {
        <tr>
            <td rowspan="4">{{hour}}</td>
            @for (day of weekdays; track $index) {
            <td></td>
            }
        </tr>

        @for (num of [1,2,3]; track $index) {
        <tr>
            @for (day of weekdays; track $index) {
            <td></td>
            }
        </tr>
        }
        }
    </tbody>
</table>
}
@case ('Daily') {
<div>Daily</div>
<table>
    <thead>
        <tr>
            <th>Time</th>
            <th>{{getCurrentWeekDay()}} {{selectedDay}}, {{months[selectedMonth]}} {{selectedYear}}</th>
        </tr>
    </thead>
    <tbody>
        @for (hour of getHours(); track $index) {
        <tr>
            <td rowspan="4">{{hour}}</td>
            <td></td>
        </tr>

        @for (num of [1,2,3]; track $index) {
        <tr>
            <td></td>
        </tr>
        }
        }
    </tbody>
</table>
}
}
}
@else {
@switch (calendarMode) {
@case ('Monthly') {
<div>Monthly</div>
<table>
    <thead>
        <tr>
            @for (day of weekdays; track $index) {
            <th>{{ day }}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (week of nepaliCalendar; track $index) {
        <tr>
            @for (day of week; let i=$index; track $index) {
            <td [ngClass]="{'grey-out': !day?.currentMonth, 'holiday': i==6}">{{ day.day }} <br>
                {{day.date}}</td>
            }
        </tr>
        }
    </tbody>
</table>
}
@case ('Weekly') {
<div>Weekly</div>
<table>
    <thead>
        <tr>
            <th>Time</th>
            @for (day of nepaliCalendar[selectedNepaliWeekIndex]; track $index) {
            <th>{{day.day}} {{weekdays[$index]}}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (hour of getHours(); track $index) {
        <tr>
            <td rowspan="4">{{hour}}</td>
            @for (day of weekdays; track $index) {
            <td></td>
            }
        </tr>

        @for (num of [1,2,3]; track $index) {
        <tr>
            @for (day of weekdays; track $index) {
            <td></td>
            }
        </tr>
        }
        }
    </tbody>
</table>
}
@case ('Daily') {
<div>Daily</div>
<table>
    <thead>
        <tr>
            <th>Time</th>
            <th>{{getCurrentNepaliWeekDay()}} {{selectedNepaliDay}}, {{nepaliMonths[selectedNepaliMonth]}}
                {{selectedNepaliYear}}</th>
        </tr>
    </thead>
    <tbody>
        @for (hour of getHours(); track $index) {
        <tr>
            <td rowspan="4">{{hour}}</td>
            <td></td>
        </tr>

        @for (num of [1,2,3]; track $index) {
        <tr>
            <td></td>
        </tr>
        }
        }
    </tbody>
</table>
}
}
}